**/bin/
**/obj/
**/node_modules/
**/dist/
**/coverage/
**/test-results/
**/load-test-results/
**/benchmarks/
**/.env
**/.env.*
**/*.user
**/*.suo
**/*.log
**/*.pfx
**/*.pem
**/*.key
**/*.crt
.git/
.vscode/
